<!DOCTYPE html>
<html>
<head>
    <title>Adding a car</title>
</head>
<body>
<div>
    <h3>Form for adding a car</h3>
    <p>To add a car, fill in the following fields:</p>
    <form method="post">
        <table>
            <tr>
                <td>Model:</td>
                <td><input type="text" name="Model" /> </td>
            </tr>
            <tr>
                <td>Odometer:</td>
                <td><input type="int" name="Odometer" /></td>
            </tr>
            <tr>
                <td>Horse power:</td>
                <td><input type="int" name="HorsePower" /></td>
            </tr>
            <tr><td><input type="submit" value="Add" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>