<!DOCTYPE html>
<html>
<head>
    <title>Adding a driver</title>
</head>
<body>
<div>
    <h3>Form for adding a driver</h3>
    <p>To add a driver, fill in the following fields:</p>
    <form method="post">
        <table>
            <tr>
                <td>First name:</td>
                <td><input type="text" name="FirstName" /> </td>
            </tr>
            <tr>
                <td>Second name:</td>
                <td><input type="text" name="SecondName" /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="int" name="Age" /></td>
            </tr>
            <tr>
                <td>Experience:</td>
                <td><input type="int" name="Experience" /></td>
            </tr>
            <tr><td><input type="submit" value="Add" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>